<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">

	<listeners>
		<listener class-name="listeneres.Listeneres_B10" />
	</listeners>


	<test thread-count="5" name="Test">
		<classes>
			<class name="testCases.LoginToMyStore" />
			<class name="testCases.LoginToMyStore2" />
			<class name="testCases.LoginToMyStoreWithRegisteredUser" />
			<class name="testCases.LoginToMyStoreWithRegisteredUser2" />
			<class name="testCases.LoginToMyStoreWithRegisteredUser3" />
			<class name="testCases.EndToEndTestCase" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
